<div class="card card-detail">
	<div class="card-body clearfix">
		<img class="img-responsive" style="height: 100px; width: 100px;" [src]="contact.img" alt="Image">
		<h5 class="card-title">{{contact.firstName}}</h5>
		<h5 class="card-title">{{contact.lastName}}</h5>
		<h6 class="card-subtitle">{{contact.age}}</h6>
		<p class="card-text">{{contact.descr}}</p>
		<div class="card-main">
			<p class="card-text">{{contact.link}}</p>
			<button class="back" (click)="onBack()">Back</button>
		</div>
	</div>
</div>
